@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);
/* Configs Import*/
/**COLORS*/
/*FONTS VAR*/
/*TRANSITIONS*/
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fa-fw {
  margin-right: 10px;
}
.log_out {
  margin-left: 70px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.5s;
}
.log_out:hover {
  color: #D7D7D7;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .log_out {
    margin-left: 0px;
  }
}
@media (max-width: 1199px) {
  .search {
    width: 345px !important;
  }
  .search input[type=text] {
    width: 305px !important;
  }
}
@media (max-width: 991px) {
  .search {
    width: 132px !important;
  }
  .search input[type=text] {
    width: 95px !important;
  }
}
/* Menu */
.left_side_menu {
  /*Mobile Version*/
}
@media (min-width: 992px) {
  .left_side_menu {
    width: 27.333333% !important;
  }
}
.left_side_menu .dash_top_radio_links {
  width: 100%;
  margin-bottom: 20px;
}
.left_side_menu .dash_top_radio_links a {
  font-size: 14px;
  color: #5c666e;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  width: 50%;
  border: 1px solid #e2e7ea;
  background-color: #fff;
  display: block;
  text-decoration: none;
  padding: 6px 0px;
  text-transform: uppercase;
  float: left;
}
.left_side_menu .dash_top_radio_links a.active {
  background-color: #0099f1;
  border-color: #0099f1;
  color: #fff;
}
.left_side_menu .dash_top_radio_links a:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.left_side_menu .dash_top_radio_links a:nth-child(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.left_side_menu .header_menu_mobile {
  display: none;
  height: 81px;
  padding: 14px 0px;
  background-color: #2f3336;
}
.left_side_menu .header_menu_mobile .navmenu-brand {
  padding: 15px 15px;
  float: none;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  color: #fff;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 24px;
  font-style: italic;
  margin-right: 7px;
}
.left_side_menu .header_menu_mobile .navbar-toggle {
  margin-left: 15px;
  float: left;
}
.left_side_menu .header_menu_mobile .navbar-toggle span {
  background-color: #fff;
}
@media (max-width: 767px) {
  .left_side_menu {
    display: none;
    position: absolute !important;
    top: -81px;
    left: 0px;
    width: 80%;
    background-color: #fff;
    z-index: 10;
  }
  .left_side_menu .dash_top_radio_links {
    padding: 0px 15px;
  }
  .left_side_menu .clone_elements {
    padding: 15px;
    text-align: center;
  }
  .left_side_menu .clone_elements a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    color: #fff;
    padding: 7px 13px;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
.btn_green {
  background-color: #3caf42;
  color: #fff;
  font-style: italic;
}
.btn_green:hover {
  color: #fff;
}
.cat_1_item {
  transition: all 0.5s;
  cursor: pointer;
}
.cat_1_item span {
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-image: url(../images/dashboard/cat_1_menu.png);
}
.cat_1_item a {
  transition: all 0.5s;
}
.cat_1_item.active,
.cat_1_item:hover {
  background-color: #0099f1;
}
.cat_1_item.active a,
.cat_1_item:hover a {
  color: #fff !important;
}
.cat_1_item.active span,
.cat_1_item:hover span {
  background-image: url(../images/dashboard/cat_1_menu_active.png);
}
.cat_1_item.campaign span {
  background-position: 0px 0px;
}
.cat_1_item.offers span {
  background-position: 0px -32px;
}
.cat_1_item.message span {
  background-position: 0px -65px;
}
.cat_1_item.proadviser span {
  background-position: 0px -98px;
}
.cat_1_item.settings span {
  background-position: 0px -130px;
}
.dash_menu .cat_1 {
  background-color: #2f3336;
}
@media (min-width: 992px) {
  .dash_menu .cat_1 {
    min-height: 845px;
  }
}
@media (max-width: 767px) {
  .dash_menu .cat_1 {
    width: 33.33333333%;
    float: left;
  }
}
.dash_menu .cat_1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dash_menu .cat_1 ul li {
  float: left;
  width: 100%;
  height: 90px;
  text-align: center;
}
.dash_menu .cat_1 ul li a {
  font-size: 12px;
  color: #94a0a9;
  text-decoration: none;
}
.dash_menu .cat_1 ul li a span {
  display: block;
  width: 42px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
}
.dash_menu .cat_2 {
  background-color: #373b3e;
  border-left: 1px solid #2f3235;
  position: relative;
}
@media (min-width: 992px) {
  .dash_menu .cat_2 {
    min-height: 845px;
  }
}
@media (max-width: 767px) {
  .dash_menu .cat_2 {
    width: 66.66666667%;
    float: left;
  }
}
.dash_menu .cat_2 .cat_2_item_block {
  display: none;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.dash_menu .cat_2 .cat_2_item_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dash_menu .cat_2 .cat_2_item_block ul li {
  font-size: 14px;
  margin-left: -1px;
  border-left: 1px solid #2f3235;
  position: relative;
}
@media (max-width: 1199px) {
  .dash_menu .cat_2 .cat_2_item_block ul li {
    font-size: 13px;
  }
}
.dash_menu .cat_2 .cat_2_item_block ul li a {
  color: #94a0a9;
  display: block;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 45px 15px 15px;
}
.dash_menu .cat_2 .cat_2_item_block ul li a span {
  color: #fff;
  background-color: #3caf42;
  width: 30px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.dash_menu .cat_2 .cat_2_item_block ul li:hover,
.dash_menu .cat_2 .cat_2_item_block ul li.active {
  border-color: #2a2d30;
  background-color: #313538;
}
.dash_menu .cat_2 .cat_2_item_block ul li:hover a,
.dash_menu .cat_2 .cat_2_item_block ul li.active a {
  color: #fff;
}
.dash_menu .cat_2 .cat_2_item_block ul li.white a {
  color: #fff;
}
.dash_menu .cat_2 .cat_2_item_block ul li.white a span {
  background-color: #464c51;
  background-image: url(../images/dashboard/blue_arrow_down.png);
  background-position: center;
  background-repeat: no-repeat;
}
.dash_tabs_mobile {
  padding: 15px;
  display: none;
}
@media (min-width: 768px) {
  .dash_tabs_mobile {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .dash_tabs_mobile {
    display: table !important;
  }
}
.dash_tabs_mobile button {
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  color: #5c666e;
  font-weight: 700;
  white-space: normal;
  border-color: #e2e7ea;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}
.dash_tabs_mobile button.active,
.dash_tabs_mobile button:hover {
  background-color: #5c666e;
  color: #fff;
}
@media (max-width: 767px) {
  .dash_tab_content_content {
    display: none;
  }
  .dash_tab_content_content.active_content {
    display: block;
  }
}
@media (min-width: 992px) {
  .right_side_content {
    width: 72.666667% !important;
    min-height: 845px;
  }
}
.right_side_content .right_top_buttons {
  margin-bottom: 20px;
  text-align: right;
}
@media (max-width: 767px) {
  .right_side_content .right_top_buttons {
    display: none;
  }
}
@media (max-width: 991px) {
  .right_side_content .right_top_buttons {
    margin-top: 20px;
    text-align: center;
  }
}
.right_side_content .right_top_buttons a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 7px 13px;
  text-decoration: none;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.right_side_content .right_content {
  background-color: #fafafa;
  border: 1px solid #e2e7ea;
  border-left: none;
  pading: 0px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .right_side_content .right_content {
    min-height: 845px;
  }
}
.right_side_content .right_content .dash_user > .col-md-5 {
  height: 140px;
  border-bottom: 2px solid #e2e7ea;
  border-right: 1px solid #e2e7ea;
  position: relative;
}
.right_side_content .right_content .dash_user > .col-md-5 > a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3caf42;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.right_side_content .right_content .dash_user > .col-md-5 > div {
  height: 140px;
}
.right_side_content .right_content .dash_user > .col-md-5 > div.col-xs-4 {
  padding: 20px 15px;
}
.right_side_content .right_content .dash_user > .col-md-5 > div.col-xs-8 {
  padding: 50px 15px;
}
.right_side_content .right_content .dash_user > .col-md-5 h3 {
  font-size: 20px;
  color: #2f3336;
  font-weight: 700;
  margin: 0px;
}
.right_side_content .right_content .dash_user > .col-md-5 span {
  font-size: 12px;
  text-transform: uppercase;
  color: #5c666e;
}
.right_side_content .right_content .dash_user > .col-md-7 {
  height: 140px;
  border-left: 1px solid #e2e7ea;
  border-bottom: 2px solid #e2e7ea;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4 {
  text-align: center;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4 h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4 p {
  color: #5c666e;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px !important;
  font-weight: 700;
  margin-bottom: 5px;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4 button {
  color: #5c666e;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  background-color: transparent;
  border: 1px solid #b7bcc1;
  border-radius: 3px;
  padding: 3px 15px;
  display: block;
  margin: auto;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4.blue h3 {
  color: #0099f1;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4.green h3 {
  color: #3caf42;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4.red h3 {
  color: #eb5a5a;
}
.right_side_content .right_content .dash_user > .col-md-7 > .col-xs-4.red button {
  background-color: #eb5a5a;
  color: #fff;
  border-color: #eb5a5a;
}
.right_side_content .right_content .dash_title {
  color: #2f3336;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 7px;
}
.right_side_content .right_content .dash_block {
  border: 1px solid #e2e7ea;
  background-color: #fff;
  padding: 15px;
  margin-top: 3px;
}
.right_side_content .right_content .left_side {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .right_side_content .right_content .left_side > .row {
    margin-right: 15px;
  }
}
@media (max-width: 991px) {
  .right_side_content .right_content .left_side > .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.right_side_content .right_content .left_side > .row .last_notification h2 {
  padding-left: 15px;
}
.right_side_content .right_content .left_side > .row .last_notification .last_notification_item h3 {
  margin: 0px;
  color: #0099f1;
  font-size: 16px;
  font-weight: 700;
}
.right_side_content .right_content .left_side > .row .last_notification .last_notification_item p {
  margin: 0px;
  color: #60686d;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
}
.right_side_content .right_content .left_side > .row .last_campaign {
  margin-top: 15px;
}
.right_side_content .right_content .left_side > .row .last_campaign h2 {
  padding-left: 15px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col {
  margin-top: -15px;
  margin-bottom: -15px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 {
  overflow: hidden;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 .row {
  padding-right: 15px;
  height: 100%;
}
@media all and (max-width: 767px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 .row {
    padding-right: 0px;
  }
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 img {
  height: 100%;
}
@media (min-width: 992px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 img {
    max-height: 165px;
    padding: 15px 0px 0px 15px;
    height: auto;
  }
}
@media all and (min-width: 768px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 img {
    max-height: 155px;
    padding: 15px 0px 0px 15px;
    height: auto;
  }
}
@media all and (max-width: 767px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-4 img {
    width: 100%;
    height: auto;
  }
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 p {
  color: #60686d;
  font-size: 14px;
  font-style: italic;
  margin-top: 0px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 span {
  display: block;
  width: 100%;
  color: #2f3336;
  font-size: 16px;
  line-height: 25px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .progress_container {
  width: 50%;
  float: left;
}
@media (max-width: 1199px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .progress_container {
    width: 40%;
  }
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .soc_reach {
  width: 50%;
  float: left;
  padding-top: 11px;
  padding-left: 10px;
}
@media (max-width: 1199px) {
  .right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .soc_reach {
    width: 60%;
  }
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .soc_reach span {
  font-size: 14px;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .days {
  color: #7f8286;
  font-size: 14px;
  margin-bottom: 0px;
  font-style: normal;
}
.right_side_content .right_content .left_side > .row .last_campaign .last_campaign_item .col-sm-8 .progres {
  width: 100%;
}
.right_side_content .right_content .right_side {
  margin-top: 20px;
}
.right_side_content .right_content .right_side .row a {
  float: none;
  margin: 0;
}
@media (min-width: 992px) {
  .right_side_content .right_content .right_side .row {
    margin-right: 0px;
  }
}
@media (max-width: 991px) {
  .right_side_content .right_content .right_side .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.right_side_content .right_content .right_side .row .dash_advertising img {
  margin-bottom: 15px;
}
.right_side_content .right_content .right_side .row .last_messages .last_messages_item {
  position: relative;
}
.right_side_content .right_content .right_side .row .last_messages .last_messages_item p {
  color: #60686d;
  font-size: 14px;
  font-style: italic;
  margin: 0px;
}
.right_side_content .right_content .right_side .row .last_messages .last_messages_item span {
  font-weight: 700;
  color: #2f3336;
  font-size: 14px;
  font-style: normal;
}
.right_side_content .right_content .right_side .row .last_messages .last_messages_item .time {
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 8px;
  color: #60686d;
}
/* Add New Site */
.btn-form {
  margin: 0;
}
@media (max-width: 992px) {
  .btn-form {
    text-align: center;
    margin-top: 30px;
  }
}
.label-form label {
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}
.section-form {
  padding: 25px;
}
.form-compose-messages {
  padding: 80px 30px 30px 30px;
}
button.btn_guest {
  padding: 6px 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 170px;
}
.title-forms {
  border-bottom: 1px solid #eee;
}
.title-forms h3 {
  margin: 0 0 5px 0;
  font-weight: 600;
  text-transform: uppercase;
}
.title-forms p {
  margin: 0;
  font-style: italic;
  color: #60686d;
}
.form-head-new-site {
  border-bottom: 1px solid #eee;
}
.form-head-new-site .form-group:last-of-type {
  margin-bottom: 0;
}
.form-compose-messages .label-compose-messages > div {
  margin-top: 15px;
}
/* DASBOARD MESSAGE*/
.message_toolbar {
  padding: 10px;
  border-bottom: 1px solid #ecedef;
}
.message_toolbar span {
  float: right;
  padding: 10px 0px;
}
.message_toolbar .mess_button {
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  margin-right: 10px;
  color: #5c666e;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e2e5e8;
  padding: 10px 20px 10px 35px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.message_toolbar .mess_button.mess_moveto {
  background-image: url(../images/dashboard/move_to.png);
}
.message_toolbar .mess_button.mess_delete {
  background-image: url(../images/dashboard/delete.png);
}
.message_toolbar h2 {
  font-size: 24px;
  color: #2f3336;
  float: left;
  margin: 10px 0px 13px;
}
.message_toolbar .btn_add_site {
  float: right;
  border: none;
  padding: 7px 13px;
  border-radius: 5px;
  margin-top: 7px;
  outline: none;
}
.compose {
  background-image: url(../images/dashboard/compose.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px !important;
  margin: 0 auto;
}
.inbox {
  padding: 10px;
}
.inbox .inbox_item {
  border: 1px solid #e2e7ea;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.inbox .inbox_item input[type=image] {
  margin-top: 2px;
  float: right;
  margin-right: 25%;
  outline: none;
}
@media (max-width: 991px) {
  .inbox .inbox_item input[type=image] {
    float: none;
    margin-right: 0px;
    margin-bottom: -3px;
    margin-left: 10px;
  }
}
.inbox .inbox_item .checkbox-label {
  margin-bottom: 1px;
}
.inbox .inbox_item .msg_sender {
  font-size: 14px;
  font-weight: 700;
  color: #2f3336;
}
.inbox .inbox_item .msg_subject {
  font-size: 14px;
  font-weight: 700;
  color: #2f3336;
}
.inbox .inbox_item .msg_subject i {
  font-weight: 500;
  color: #60686d;
}
.inbox .inbox_item .msg_time {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: #60686d;
}
.inbox .see_all {
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  margin-right: 10px;
  color: #5c666e;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e2e5e8;
  padding: 10px 0px;
  outline: none;
}
/*DASHBOARD LIST OF SITES*/
.list_of_sites {
  padding: 0px 15px;
}
.list_of_sites .t_head .t_td,
.list_of_sites .t_row .t_td {
  border-bottom: 1px solid #ecedef;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 767px) {
  .list_of_sites .t_head .t_td,
  .list_of_sites .t_row .t_td {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .list_of_sites .t_head {
    display: none;
  }
}
.list_of_sites .t_head .t_td {
  height: 55px;
  color: #666666;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .list_of_sites .t_row {
    margin-bottom: 20px;
  }
}
.list_of_sites .t_row .t_td {
  height: 65px;
  color: #333333;
  font-size: 16px;
  padding: 21px 15px;
}
.list_of_sites .t_row .t_td:nth-last-child(1) {
  text-align: right;
}
@media (max-width: 767px) {
  .list_of_sites .t_row .t_td:nth-last-child(1) {
    text-align: center;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .list_of_sites .t_row .t_td {
    height: 40px;
    padding: 10px 15px;
  }
}
.list_of_sites .t_row .t_td .t_status.succes {
  color: #3caf42;
}
.list_of_sites .t_row .t_td .t_status.error {
  color: #ff3333;
}
.list_of_sites .t_row .t_td .t_btn {
  border: none;
  padding: 7px 13px;
  border-radius: 5px;
  outline: none;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}
@media (max-width: 767px) {
  .list_of_sites .t_row .t_td .t_btn {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .list_of_sites .t_row .t_td .t_btn:nth-last-child(1) {
    margin-right: 0%;
    margin-left: 5%;
  }
}
/*CAMPAIGNS PAGE*/
.campaigns_page .row {
  margin-right: 0px !important;
}
.campaigns_page .last_campaign_item {
  padding: 0px 15px !important;
}
.campaigns_page .last_campaign_item .campaign_item_r {
  padding: 15px 0px !important;
}
@media (min-width: 992px) {
  .campaigns_page .last_campaign_item .campaign_item_r {
    border-right: 1px solid #e2e7ea;
  }
}
.campaigns_page .last_campaign_item .campaign_item_l {
  position: relative;
  height: 190px;
}
.campaigns_page .last_campaign_item .campaign_item_l .row {
  margin-right: -15px !important;
  margin-left: 0px !important;
}
.campaigns_page .last_campaign_item .campaign_item_l .row span {
  display: block;
  width: 100%;
  color: #2f3336;
  font-size: 16px;
  line-height: 25px;
  margin-top: 10px;
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons {
  border-top: 1px solid #e2e7ea;
  position: absolute;
  height: 40px;
  bottom: 14px;
  padding-top: 10px;
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a i {
  margin-right: 5px;
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a.stop {
  color: #5c666e;
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a.edit {
  color: #3caf42;
}
@media (min-width: 1200px) {
  .campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a.edit {
    margin: 0px 30px;
  }
}
@media (max-width: 1199px) {
  .campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a.edit {
    margin: 0px 10px;
  }
}
.campaigns_page .last_campaign_item .campaign_item_l .row .campaign_buttons a.delete {
  color: #eb5a5a;
}
/*# sourceMappingURL=dashboard.css.map */