@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);
/* Configs Import*/
/**COLORS*/
/*FONTS VAR*/
/*TRANSITIONS*/
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fa-fw {
  margin-right: 10px;
}
.log_out {
  margin-left: 70px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.5s;
}
.log_out:hover {
  color: #D7D7D7;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .log_out {
    margin-left: 0px;
  }
}
@media (max-width: 1199px) {
  .search {
    width: 345px !important;
  }
  .search input[type=text] {
    width: 305px !important;
  }
}
@media (max-width: 991px) {
  .search {
    width: 132px !important;
  }
  .search input[type=text] {
    width: 95px !important;
  }
}
/* Menu */
@media (min-width: 992px) {
  .left_side_menu {
    width: 27.333333% !important;
  }
}
.left_side_menu .dash_top_radio_links {
  width: 100%;
  margin-bottom: 20px;
}
.left_side_menu .dash_top_radio_links a {
  font-size: 14px;
  color: #5c666e;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  width: 50%;
  border: 1px solid #e2e7ea;
  background-color: #fff;
  display: block;
  text-decoration: none;
  padding: 6px 0px;
  text-transform: uppercase;
  float: left;
}
.left_side_menu .dash_top_radio_links a.active {
  background-color: #0099f1;
  border-color: #0099f1;
  color: #fff;
}
.left_side_menu .dash_top_radio_links a:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.left_side_menu .dash_top_radio_links a:nth-child(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn_green {
  background-color: #3caf42;
  color: #fff;
  font-style: italic;
}
.btn_green:hover {
  color: #fff;
}
.cat_1_item {
  transition: all 0.5s;
  cursor: pointer;
}
.cat_1_item span {
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-image: url(../images/dashboard/cat_1_menu.png);
}
.cat_1_item a {
  transition: all 0.5s;
}
.cat_1_item.active,
.cat_1_item:hover {
  background-color: #0099f1;
}
.cat_1_item.active a,
.cat_1_item:hover a {
  color: #fff !important;
}
.cat_1_item.active span,
.cat_1_item:hover span {
  background-image: url(../images/dashboard/cat_1_menu_active.png);
}
.cat_1_item.campaign span {
  background-position: 0px 0px;
}
.cat_1_item.offers span {
  background-position: 0px -32px;
}
.cat_1_item.message span {
  background-position: 0px -65px;
}
.cat_1_item.proadviser span {
  background-position: 0px -98px;
}
.cat_1_item.settings span {
  background-position: 0px -130px;
}
.dash_menu .cat_1 {
  background-color: #2f3336;
}
@media (min-width: 992px) {
  .dash_menu .cat_1 {
    min-height: 845px;
  }
}
.dash_menu .cat_1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dash_menu .cat_1 ul li {
  float: left;
  width: 100%;
  height: 90px;
  text-align: center;
}
.dash_menu .cat_1 ul li a {
  font-size: 12px;
  color: #94a0a9;
  text-decoration: none;
}
.dash_menu .cat_1 ul li a span {
  display: block;
  width: 42px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
}
.dash_menu .cat_2 {
  background-color: #373b3e;
  border-left: 1px solid #2f3235;
  position: relative;
}
@media (min-width: 992px) {
  .dash_menu .cat_2 {
    min-height: 845px;
  }
}
.dash_menu .cat_2 .cat_2_item_block {
  display: none;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.dash_menu .cat_2 .cat_2_item_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dash_menu .cat_2 .cat_2_item_block ul li {
  font-size: 14px;
  margin-left: -1px;
  border-left: 1px solid #2f3235;
  position: relative;
}
@media (max-width: 1199px) {
  .dash_menu .cat_2 .cat_2_item_block ul li {
    font-size: 13px;
  }
}
.dash_menu .cat_2 .cat_2_item_block ul li a {
  color: #94a0a9;
  display: block;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 45px 15px 15px;
}
.dash_menu .cat_2 .cat_2_item_block ul li a span {
  color: #fff;
  background-color: #3caf42;
  width: 30px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.dash_menu .cat_2 .cat_2_item_block ul li:hover,
.dash_menu .cat_2 .cat_2_item_block ul li.active {
  border-color: #2a2d30;
  background-color: #313538;
}
.dash_menu .cat_2 .cat_2_item_block ul li:hover a,
.dash_menu .cat_2 .cat_2_item_block ul li.active a {
  color: #fff;
}
.dash_menu .cat_2 .cat_2_item_block ul li.white a {
  color: #fff;
}
.dash_menu .cat_2 .cat_2_item_block ul li.white a span {
  background-color: #464c51;
  background-image: url(../images/dashboard/blue_arrow_down.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .right_side_content {
    width: 72.666667% !important;
  }
}
@media (min-width: 992px) {
  .right_side_content {
    min-height: 845px;
  }
}
.right_side_content .right_top_buttons {
  margin-bottom: 20px;
  text-align: right;
}
.right_side_content .right_top_buttons a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 7px 13px;
  text-decoration: none;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.right_side_content .right_content {
  background-color: #fafafa;
  border: 1px solid #e2e7ea;
  border-left: none;
  pading: 0px;
}
/*# sourceMappingURL=dashboard.css.map */